#lblTitle {
	font-weight: bold;
	font-size: 2vh;
}

[id*="tmpLabel"] {
	margin-top: 10px;
	margin-bottom: 10px;
}

#lblCountdown {
	bottom: -300px;
	font-size: 2vh;
	font-weight: bold;
}

#cntParameter {
	border-color: transparent;
	background-color: transparent;
}

@media (orientation: landscape) {
	#cntGeneralInformationMainBackframe{
		display: flex;
		width: 40%;
		height: 18%;
		justify-content: right;
		align-items: flex-end;
	}
}

@media (orientation: portrait) {
	#cntGeneralInformationMainBackframe{
		display: flex;
		width: 58%;
		height: 16%;
		justify-content: right;
		align-items: flex-end;
	}
}

#cntGeneralInformationMain {
	display: flex;
	justify-content: center;
	width: 25vh;
	height: 15vh;
	color: white;
	flex-flow: column;
	background-color:#444444;
    border: 0.5vh solid #dcdcdc;
}

#cntButtonsMainBackframe {
	width: 100%;
	display: flex;
	transform: translate(0vw, 80vh);
	justify-content: center;
}

@media (orientation:landscape) {
	#cntButtonsMain {
		background-color: transparent;
		width: 50%;
		display:flex;
		justify-content: center;
		flex-wrap:wrap;
		gap: 1vh;
	}
}

@media (orientation:portrait) {
	#cntButtonsMain {
		background-color: transparent;
		width: 100%;
		display:flex;
		justify-content: center;
		flex-wrap:wrap;
		gap: 1vh;
	}
}

#cntButtonsMain > .button {
	width: 10vh;
	height: 3vh;
}

#cntLogin, #cntPrompt {
	width: 600px;
	height: 100px;
	position: relative;
	left: 0;
	right: 0;
	margin-top: 50vh;
}

#lblDeath {
	color: white;
	margin-top: 25%;
}

#cntPrompt {
	height: 125px;
}

#cntLogin > #imgAdvocateLogin, #cntPrompt > #imgAdvocateLogout {
	transform: translate(3vh, -288px);
	animation-name: pop-in_screen;
	animation-duration: 0.5s;
}

#cntTextbox > #imgAdvocate {
	transform: translate(0vh, -245px);
	right: 0;
	z-index: -1;
}

#cntTextbox > #imgTenant {
	transform: translate(40vw, -330px);
	z-index: -1;
}

#cntCommand {
	position:absolute;
}

#cntStatus {
	width: 60vh;
	text-align: center;
	transform: translate(0vw, 80vh)
}

#cntStatus:last-child {
	margin-right: 0;
}

#cntStatus > *{
	display: inline;
}

#cntTextbox {
	border-radius: 0 0 0 0;
	width: 1000px;
	height: 200px;
	position: relative;
	/*! left: 0; */
	/*! right: 0; */
	/*! bottom: -900px; */

	margin: 75vh auto 0 auto;
}

#lblText {
	text-align: left;
	margin: 20px;
	margin-right: 150px;
}

#imgArrow {
	margin: 20px;
	right: 0;
	bottom: 0;
}

#imgTenant {
	z-index:-1;
}

#imgAdvocate {

}
