* {
    margin: auto;
    padding: 0;
    font-size: 3vh;
    font-family: Lucida Sans;
    text-align: center;

}

body {
    background-image: url("img/default.png");
    background-color: red;
    margin: 0;
    overflow: hidden;
}

#cntFadeOut, #cntFadeIn {
    background-color: black;
    position:absolute;
    top:0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    animation-duration: 0.5s;
    z-index: 999;
}

#cntFadeOut {
    animation-name: fade-out;
}

#cntFadeIn {
    animation-name: fade-in;
}

.pattern {
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
    position: absolute;
    perspective: 100px;
    transform: rotate(0.1rad);
}

@media (orientation: landscape) {
    .buttonDiv {
        width: 18vh;
        height: 5vh;
        background-color:#444444;
        border: 0.5vh solid #dcdcdc;
        display:flex;
        justify-content: center;
    }

    .buttonLabel {
        font-size: 3vh;
        color:white;
    }
}

@media (orientation: portrait) {
    .buttonDiv {
        width: 18vh;
        height: 5vh;
        background-color:#444444;
        border: 0.5vh solid #dcdcdc;
        display:flex;
        justify-content: center;
    }

    .buttonLabel {
        font-size: 3vh;
        color:white;
    }
}



.container {
    background-color: white;
    border: 6px solid blue;
    position:absolute;
}

.textbox {
    margin: 1% auto 3% auto;
    width: 420px;
    height: 20px;
    letter-spacing: 5px;
}

.label {
    display: block;
    word-wrap: break-word;
}

img {
    user-select: none;
}

.image {
    display: block;
    position: absolute;
    perspective: 1000px;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    transform: translateY(0px) translateX(0px);
    z-index: 1;
}
